
.text-primary{
  color:$primary;
}
.banner {
    height: 840px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    h3{
      font-size: $h3-font-size;
      color:$primary;
    }
    h1{
      font-size: $h1-font-size;
      color:$primary;
    }
  }
  .marginpercent {
    margin-left: 50%;
  }
  /*服務項目*/
  .info {
    background-color: $bg-color;
    h2{ 
        margin-bottom: 52px;
    }
  }

  
  .serviceInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    li{
        width: 23%;
        img {
            height: 83px;
            width: 83px;
          }
          h4 {
            padding: 24px 0px 8px 0px;
          }
          p {
            padding-bottom: 80px;
          }

    }
  }
  
 
  

  
  /*經典系列鏡框*/
  
  .classic h2,
  .cobrand h2,
  .recommend h2,
  .contact h2 {
    margin-bottom: 40px;
  }
  .classicTypes {
    display: flex;
    flex-wrap: wrap;
    h2 {
        font-family: Roboto;
        font-style: italic;
      }
      
  }
  
  .category {
    padding-bottom: 32px;
    display: flex;
    align-items: center;
  }
  .categoryDesc {
    display: flex;
    width: 39%;
  }
  .categoryIcon {
    width: 57%;
  }


  /*聯名設計鏡框*/
  .cobrand {
    height: 705px;
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
  }
  
  .cobrandInfo {
    display: flex;
    font-size: 72px;
    font-family: roboto;
    font-weight: bold;
    color:$primary-light; 
  }
  
  .cobrandDetail {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 48%;
    margin-right: 30px;
    p {
        padding: 179px 104px;
      }
  }
  
 
  .cobrandImg {
    background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 48%;
    p {
        padding: 179px 152px;
      }

  }
  

  /*顧客推薦*/
  .recommendDetail {
    display: flex;
    margin-bottom: 80px;
    li{
        width: 23%;
    height: 460px;
    margin-right: 30px;
    border: 1px solid #dee2e6;
    text-align: left;
    p {
        font-family: "Noto Sans TC";
        padding: 0px 16px;
      }
    }
  }
  
 

  
  /*聯絡我們*/
  .contact {
    background-color: $bg-color; 
    display: flex;
  }
  .contactDetails {
    display: flex;
    flex-direction: column;
    form {
        display: flex;
        flex-direction: column;
        width: 65%;
        margin: 0 auto;
      }
  }
  

  
  .btnSize {
    width: 31%;
    height: 54px;
    color: $secondary;
    background-color: #aa0601;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 80px;
  }
  

