img{ max-width: 100%;
	height: auto;
}

*, *::before, *::after{
	box-sizing: border-box;
  }
  
.container{
	max-width:1110px;
    margin: 0 auto;
}


.body{
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial,'Noto Sans TC', sans-serif;
	line-height: 1.5;
}



.navbar{
	background-color:$primary-light;
	display:flex;
	justify-content: space-between;
	padding: 30px;
    img{
        padding-left: 88px; 	
    }
}


.linksorder{
	display: flex;
	align-items: center;
    li a{
        color: $secondary;
	    font-family: $font-noto;
	    font-size: $font-size-base-m;
	    text-decoration: none;
	    padding-right: 64px;
    }
}


@media(max-width:768px){
    .container{
        max-width: 690px;
    }
    
     .navbar{
    padding: 38px 0px;
     }
    .navbar img{
        padding-left: 39px;
    }
}

@media(max-width: 375px){
    .container{
        max-width: 345px;
    }
    
}



.footer{
	background-color:$primary-light; 
	
}
.links{
	display: flex;
	justify-content: space-between;
	padding-top: 44px;
	align-items: center;
}
.navLinks{
	display: flex;
    li{
        padding-right: 48px;
        a{
            text-decoration: none;
	        color:$secondary;
	        font-family: $font-noto;
        }

    }
}


.iconSize{ 
	width: 48px;
	height:48px;
}
.socialMedia{ 
	display: flex;
    li {
        padding-right: 32px;
    }
}

.imageSize{
	width: 36px;
	height: 36px;
	padding-right: 22px;
}
.PhoneAndMail{
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $secondary;
    a{
        text-decoration: none;
        color:$secondary;
        font-size: $h3-font-size;
        padding-bottom: 16px;
        
    }
}

.moreInfo{
	display: flex;
	justify-content: space-between;
	padding-top: 32px;
	padding-bottom: 39px;
}

.pr-48{
	padding-right: 48px;
}
.rule a{
	text-decoration: none;
	font-size: 14px;
    color:$secondary;
}



@media(max-width:768px){
    .container{
        max-width: 690px;
    }

    .footer .container{
        margin-left: 48px;
        margin-right: 40px;
    }
    .navLinks li{
        padding-right: 40px;
   }
        
   .socialMedia li{
    padding-right: 24px;
    }
    .iconSize{ 
        width: 24px;
        height:24px;
    }
    .PhoneAndMail a{
        font-size: 20px;
        padding-bottom: 12px;
        
    }
    
    .imageSize{
    width: 18px;
    height: 18px;
    padding-right: 11px;
     }
    
}

@media(max-width:375px){
    .container{
        max-width: 345px;
    }

    .navbar img{
        width:100%
    }
    .linksorder{
        flex-wrap: wrap;
    }
    .linksorder li{
        width: 50%;
        text-align: center;
        border: 1px solid #fff;
    }

}


