
.storeLists h2{
    display: inline;
    font-family: 思源黑體 TW,serif;
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid #9F1213;
}


.lists{
    display: flex;
    flex-wrap: wrap;
    li{
        width:350px;
        border: 1px solid #00000020;
        h3{
            font-size: 24px;
            line-height: 1.5;
        }
}

}
.more{
    background-color: #000000; 
    a{
        text-decoration: none;
        color:white; 
        font-family: 思源黑體 TW, serif;
        font-size: 19px;
    }
}