


.storeLists h2{
    font-family: $font-noto; 
    font-size: 48px;
    font-weight: bold;
    border-left: 8px solid #9F1213;
    margin-top: 96px;
    margin-bottom: 60px;
}
.storeLists label{
    font-size: 24px;
    font-family: $font-noto; 
}

.lists{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
    li{
        width: 31.5%;
        margin-top: 32px;
        padding-right: 30px;
    }      
}
.storePhoto{
    border: 1px solid #00000020;
    img{
        display: block;
        height:224px;   
    }
    h3{
        font-size: 24px;
        line-height: 1.5;
        padding-left: 24px;
        padding-bottom: 12px;
        padding-top:12px;
    }
}

.StoreInfo{
    border: 1px solid #00000020;
    p{
        font-size: 20px;
        line-height: 1.5;
        padding-left: 24px;
        img{
            width:20px;
            height:20px;

        }
    }  
}

.more{
    background-color: $default-color; 
    border: 1px solid #00000020;
    padding:20px 100px;

    a{
        text-decoration: none;
        color:$secondary; 
        font-family: $font-noto; 
        font-size: 19px;
    }
}


@media(max-width:768px){
    .container{
        max-width: 690px;
    }
    .storeLists label{
        font-size: 16px;
    }
    .lists li{
        width: 50%;
    }
    .storePhoto img{
        height:164px;
    }
}

@media(max-width: 375px){
    .container{
        max-width: 345px;
    }
    .storeLists h2{
        font-size: 28px;
        border-left: 4px solid #9F1213;
        margin-top: 28px;
        margin-bottom: 56px;
    }
    .storeLists label{
        font-size: 14px;
    }
     .storePhoto h3{
            font-size: 16px;
            line-height: 1.5;
            padding-bottom: 8px;
            padding-top:8px;
     }
    
    .lists li{
        width: 100%;
        margin-top: 16px;
        padding-right: 15px;
    }

    .StoreInfo p{
        font-size: 14px;
            line-height: 1.5;
    }
    .StoreInfo img{
        width:15px;
        height:15px;
    }

    .more{
       
        a{
          font-size: 14px;
        }
    }

}

