@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  max-width: 1110px;
  margin: 0 auto; }

.body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif,思源黑體 TW;
  font-size: 16px;
  line-height: 1.5; }

.text-third {
  color: white; }

.navbar {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px; }
  .navbar img {
    padding-left: 88px; }

.linksorder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .linksorder li a {
    color: #FFFFFF;
    font-family: 思源黑體 TW ,serif;
    font-size: 20px;
    text-decoration: none;
    padding-right: 64px; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .navbar {
    padding: 38px 0px; }
  .navbar img {
    padding-left: 39px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.footer {
  background-color: #AA0601; }

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navLinks li {
    padding-right: 48px; }
    .navLinks li a {
      text-decoration: none;
      color: white;
      font-family: 思源黑體 TW; }

.iconSize {
  width: 48px;
  height: 48px; }

.socialMedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .socialMedia li {
    padding-right: 32px; }

.imageSize {
  width: 36px;
  height: 36px;
  padding-right: 22px; }

.PhoneAndMail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid white; }
  .PhoneAndMail a {
    text-decoration: none;
    color: white;
    font-size: 36px;
    padding-bottom: 16px; }

.moreInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 39px; }

.pr-48 {
  padding-right: 48px; }

.rule a {
  text-decoration: none;
  font-size: 14px; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .footer .container {
    margin-left: 48px;
    margin-right: 40px; }
  .navLinks li {
    padding-right: 40px; }
  .socialMedia li {
    padding-right: 24px; }
  .iconSize {
    width: 24px;
    height: 24px; }
  .PhoneAndMail a {
    font-size: 20px;
    padding-bottom: 12px; }
  .imageSize {
    width: 18px;
    height: 18px;
    padding-right: 11px; } }

.banner h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 1.5; }

.info h2, .classic h2, .cobrand h2, .recommend h2, .contact h2, .classicTypes h2 {
  font-size: 48px;
  text-align: center;
  font-weight: bold; }

.banner h3 {
  font-size: 36px;
  line-height: 1.5; }

.serviceInfo h4 {
  font-size: 24px;
  font-weight: bold; }

.text-primary {
  color: #650300; }

.text-secondary {
  color: #AA0601; }

.text-third {
  color: white; }

.text-forth {
  color: #707070; }

.pt-60 {
  padding-top: 60px; }

.text-right {
  text-align: right; }

.mt-1 {
  margin-top: 8px; }

.mt-2 {
  margin-top: 16px; }

.mt-5 {
  margin-top: 40px; }

.banner {
  height: 840px;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .banner h3, .banner h1 {
    padding-right: 30px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.info {
  background-color: #AA06010D; }
  .info h2 {
    margin-bottom: 52px; }

.serviceInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }
  .serviceInfo li {
    width: 25%;
    padding-right: 30px; }
    .serviceInfo li img {
      height: 83px;
      width: 83px; }
    .serviceInfo li h4 {
      padding: 24px 0px 8px 0px; }
    .serviceInfo li p {
      padding-bottom: 80px; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .info h2 {
    font-size: 32px; }
  .serviceInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .serviceInfo li {
      width: 50%;
      padding: 10px 105px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.size {
  width: 635px; }

.classic h2, .cobrand h2, .recommend h2, .contact h2 {
  margin-bottom: 40px; }

.classicTypes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .classicTypes h2 {
    display: inline;
    font-family: Roboto;
    font-style: italic; }

.optical, .sunglasses, .functional {
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .size {
    width: 390px; }
  .classic {
    padding-bottom: 56px; }
  .optical, .sunglasses, .functional {
    padding-bottom: 8px; }
  .sunglasses {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .classic h2, .cobrand h2 {
    font-size: 32px; }
  .classicTypes h2 {
    font-size: 28px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.cobrand {
  height: 705px;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/bg.png?raw=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 80px; }

.cobrandInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 72px;
  font-family: roboto;
  font-weight: bold;
  color: #AA0601; }

.cobrandDetail {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-8.png?raw=true);
  background-position: center;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px; }
  .cobrandDetail p {
    padding: 180px 104px; }

.cobrandImg {
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/product-9.png?raw=true);
  background-position: center;
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .cobrandImg p {
    padding: 180px 152px; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .cobrandDetail, .cobrandImg {
    width: 50%; }
  .cobrandImg p, .cobrandDetail p {
    font-size: 32px; }
  .cobrandDetail p {
    padding: 118px 91px; }
  .cobrandImg p {
    padding: 118px 113px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.recommendDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px; }
  .recommendDetail li {
    width: 25%;
    height: 460px;
    margin-right: 30px;
    border: 1px solid #DEE2E6;
    text-align: left; }
    .recommendDetail li p {
      font-family: 思源黑體 TW;
      padding: 0px 16px; }
    .recommendDetail li img {
      width: 100%; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .recommend h2 {
    font-size: 32px; }
  .recommendDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .recommendDetail li {
      width: 50%;
      margin-bottom: 32px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.contact {
  background-color: #AA06010D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contactDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 190px; }
  .contactDetails form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 80px; }

.btnSize {
  width: 350px;
  height: 54px;
  color: white;
  background-color: #AA0601; }

@media (max-width: 768px) {
  .container {
    max-width: 690px; }
  .contact h2 {
    font-size: 32px; } }

@media (max-width: 375px) {
  .container {
    max-width: 345px; } }

.storeLists h2 {
  font-family: 思源黑體 TW,serif;
  font-size: 48px;
  font-weight: bold;
  border-left: 8px solid #9F1213;
  margin-top: 96px;
  margin-bottom: 60px; }

.lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .lists li {
    width: 33%;
    border: 1px solid #00000020;
    margin-top: 32px;
    margin-right: 29px; }
    .lists li img {
      width: 33%;
      height: 224px; }
    .lists li h3 {
      font-size: 24px;
      line-height: 1.5; }
  .lists .StoreInfo p {
    font-size: 20px;
    line-height: 1.5;
    padding-right: 24px; }
    .lists .StoreInfo p img {
      width: 20px;
      height: 20px; }

.more {
  background-color: #000000;
  margin-top: 16px; }
  .more a {
    text-decoration: none;
    color: white;
    font-family: 思源黑體 TW, serif;
    font-size: 19px;
    padding: 20px 137px; }

/*# sourceMappingURL=all.css.map */
